.menu-item{
    text-align: center;
    margin: 1.5rem 0rem;
    padding: 0rem;
}
.menu-item img{
    text-align: center;
}
.menu-item h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    color: #00302E;
}
.menu-item p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.69);
}
.price-add{
    display: flex;
    justify-content: space-evenly;
}
.price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 33px;
    color: #00302E;
}
.add{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    text-align: right;
    color: #06E775;
}