@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.App {
background-color: #00302E;
text-decoration:none;
}
.menusection{
    display: flex;
    place-content: center;
    place-items: center;
    color: white;
    text-align: center;
    padding:.5rem 3rem;
}

